/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .bg-about-img {
      background-image: url('/assets/about-img.jpg');
      background-size: cover;
      background-position: center;
    }
    .bg-stars-img {
        background-image: url('assets/stars.jpg');
        background-size: cover;
        background-position: center;
      }
  }
  
